@page "/identity"
@using BlazorWasm.Client.Responses
@inject HttpClient Http

@attribute [Authorize]

<PageTitle>Identity</PageTitle>

<h1>Identity</h1>

<p>This component demonstrates fetching data from external API.</p>

@if (_userClaims is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var keyValuePair in _userClaims)
        {
            <tr>
                <td>@keyValuePair.Type</td>
                <td>@keyValuePair.Value</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<IdentityResponse>? _userClaims;

    protected override async Task OnInitializedAsync()
    {
        _userClaims = await Http.GetFromJsonAsync<List<IdentityResponse>>("/api/identity");
    }
}
